/* Standard Page CSS */

.teampage-container {
    background-color: #F5F5F5;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 1315px;
  }
  .teamcontent-container {
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 935px;
    padding-bottom: 50px;
  }


.teamcontent-container h1 {
    font-family: var(--headers-font-style);
}

.teamcontent-container .eh-moodbot {
    display: flex;
    flex-direction: row;
}

.teamcontent-container .eh-moodbot h3 {
    margin-bottom: 1rem;
    font-size: 150%;
}

.teamcontent-container .eh-moodbot2 {
    position: absolute;
    left: 67%;
    margin-top: -9rem;
}


/* TeamList Container */

.teamlist-container {
    /* width: 90%;
    color: #000;
    border: 1px solid #02C8A7;
    border-radius: 8px;
    overflow-y: scroll;
    height: 15rem; */
    width: 90%;
    height: 250px;
    color: #000;
    border: 2px solid #02C8A7;
    border-radius: 8px;
    overflow: auto;
}

/* .team-scrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.team-scrollbar::-webkit-scrollbar {
    width: 15px;
} */


/* Handle */

.team-scrollbar::-webkit-scrollbar-thumb {
    background: #aeaeae;
}


/* Handle on hover */

.team-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #b8a3a3;
}

.teamlist-container div {
    margin: 1rem;
}

.teamlist-container p {
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.3rem;
    font-family: 'Roboto';
}


/* TeamList Button */

.teamlist-button {
    color: white;
    text-transform: uppercase;
    background: #02C8A7;
    border-radius: 0.25rem;
    display: inline-block;
    border: none;
    font-size: .8rem;
}

.teamlist-button:hover {
    color: white;
    background: #f53240;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}


/* Tablet */

@media (max-width:900px) and (min-width:701px) {
    .teamcontent-container {
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 535px;
        padding-bottom: 50px;
      }
    .teamlist-container {
        width: 100%;
    }
    .teamcontent-container .eh-moodbot2 {
        /* margin-left: 150px; */
        display: none;
    }
}


/* Mobile */

@media (max-width:700px) {
    .teamcontent-container {
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: 535px;
        padding-bottom: 50px;
    }
    .teamlist-container {
        width: 100%;
    }
    .teamcontent-container .eh-moodbot2 {
        display: none;
    }
    .teamcontent-container h1 {
        /* margin-right: 17rem; */
        text-align: center;
    }
    .teamcontent-container p {
        /* margin-right: 17rem; */
        text-align: center;
    }
    .teamcontent-container .eh-moodbot {
        display: flex;
        justify-content: center;
    }

    .teamlist-container {
        height: 20rem;
    }
}