/* Main Team Container */

.mainTeam-container {
    width: 80%;
    margin-top: 1.875rem;
    margin-left: auto;
    margin-right: auto;
}

.mainTeam-container h1 {
    font-family: 'Fredoka One', cursive;
    width: 60%;
    position: relative;
    font-size: 2.5rem;
}

.mainTeam-container .eh-moodbot {
    position: relative;
}


.mainTeam-container .eh-moodbot2 {
    position: absolute;
    top: 50%;
    left: 45%;
    margin-left: 35%;
    margin-top: -120px;
}

/* TeamList Container */

.teamlist-container {
    width: 90%;
    height: 19rem;
    color: #000;
    border: 1px solid #02C8A7;
    border-radius: 8px;
    /* box-shadow: 10px 10px 5px 0px #7cdbd5; */
    overflow-y: scroll;
    height: 22rem;
}

.team-scrollbar {
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.team-scrollbar::-webkit-scrollbar {
    width: 15px;
  }
   
  /* Handle */
  .team-scrollbar::-webkit-scrollbar-thumb {
    /* background: #888888;  */
    background: #aeaeae;
  }
  
  /* Handle on hover */
  .team-scrollbar::-webkit-scrollbar-thumb:hover {
    /* background: #909090;  */
    background: #b8a3a3;
  }

.teamlist-container div {
    margin: 1rem;
}

.teamlist-container p {
    display: inline-block;
    margin-right: .8rem;
    font-size: 1.3rem;
    font-family: 'Roboto';
}

/* TeamList Button */

 .teamlist-button {
    color: white;
    text-transform: uppercase;
    background: #02C8A7;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-size: .8rem;
    }

.teamlist-button:hover {
    color: white;
    background: #f53240;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

/* Tablet */

@media (max-width:900px) and (min-width:601px) {
    .teamlist-container {
        width: 100%;
    }

    .mainTeam-container .eh-moodbot2 {
        margin-left: 150px;
    }

    h1 {
        padding-right: 17rem;
    }
}

/* Mobile */

@media (max-width:700px) {
    .mainTeam-container {
        margin-bottom: 75px;
    }
    .teamlist-container {
        width: 100%;
    }

    .mainTeam-container .eh-moodbot2 {
        display: none;
    }

    h1 {
        padding-right: 17rem;
    }
}