.our-modals {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: var(--p-font-style);
}
.ourmodal-boxes {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}
.creator-button {
    cursor: pointer;
}
.michelles-modalwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: purple;
}

.austin-link-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.austin-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}