.our-modals {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: var(--p-font-style);
}
.ourmodal-boxes {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}
.creator-button {
    cursor: pointer;
}
.michelles-modalwords {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: purple;
}
.michelles-links {
    display: flex;
    justify-content: space-evenly;

}
.michelles-bot {
    display: flex;
    justify-content: center;
}

.austin-link-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.austin-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joseph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joseph-link-container a {
    color: #252525;
    margin: 5px;
}

.joseph-link-container a:hover {
    color: #62158F;
}
.saniamodal-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.saniabot {
    display: flex;
    justify-content: center;
}