.container {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    width: 100%;
    /* border: 1px solid black; */
    /* padding: 10px; */
}

/* * {
    font-family: 'Lora', serif;
    font-size: 1rem;
    font-weight: 600;
} */

.settings-header {
    color: #7CDBD5;
    font-family: 'Fredoka One', cursive;
}

.btn-style {
    background-color: #02B4A0;
    color: #fff;
    border-radius: 5px;
    font-size: 1.4rem;
    width: 15%;
}

.bg-colorPos {
    background-color: #F53240;
    padding: calc(200px + 1rem) 2rem 0 2rem;
    margin-top: -200px;
    overflow: hidden;
}

@media (max-width: 320px) {
    .container {
        width: 300px;
    }
}