/* Footer */
.footer {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0;
}
.copyright-words {
    font-size: .8rem;
    color: rgb(0, 63, 85);
    display: flex;
    justify-content: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    position: absolute;
    bottom: 0;
}
.footerimg-box {
    overflow: hidden;
}
.footer-img {
    width: 100%;
    max-height: 50px;
    margin: 0;
}