/* .container {
    margin: 0 auto;
    width: 800px;
    max-width: 800px;
    display: flex;
}

.reports-container {
    display: flex;
    width: 800px;
}

.pie-chart {
    height: 25%;
    width: 25%;
}

.login-container {
    position: fixed;
    right: 0;
}

.login-button {
    width: 80px;
    height: 25px;
}

@media (max-width: 320px) {
  .container {
    width: 320px;
    justify-content: space-between;
  }

  .reports-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
}
}
 */
