body {
    height: 100%;
}
.modalpage-container {
    position: relative;
    min-height: 100%;
}
.modalsurvey-container {
    max-width: 500px;
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    overflow: auto;
}
.survey-title {
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--main-btn-color);
    border-radius: .25rem;
    padding: 3%;
}

.survey-prefeels {
    max-width: 500px;
    border: 1px solid var(--main-btn-color);
    border-radius: .25rem;
    padding: 4%; 
}

.footer-buttons {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}


.footer-buttons .btn-primary {
    background-color: var(--main-btn-color);
    font-style: var(--p-font-style);
    font-size: 1.2rem;
    border: none;
    margin-top: 5%;
    /* width: 100%; */
}

.footer-buttons .pull-right {
    width: 40%;
}

.footer-buttons .pull-left {
    width: 40%;
}
.footer-buttons .btn-primary:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-border-color);
}
.modal-header {
    max-width: 500px;
}
.modalsurvey-carousel {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
.modalsurvey-buttonbox {
    border: 5px solid rgb(203, 203, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.routes-div .modalpage-container {
    background-color: var(--main-bg-color);
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
}
.survey-modalbutton {
    color: white;
    background-color: var(--main-bg-color);
    font-family: var(--p-font-style);
    border: none;
}
.multi-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.progtrckr-todo {
    display: none;
}

.multi-step div .btn-danger {
    height: 20px;
    width: 50px;
    background-color: blue;
    margin-bottom: 5%;
}

.progtrckr-doing{
    display: none;
}

.progtrckr-done {
    display: none;
}

.preview-emoji {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.preview-emoji div {
    margin-right: 2%;
}

.emoji-input {
    width: 72%;
    margin-top: 5%;
    border: 2px solid var(--hover-border-color);
}

.modalsurvey-buttonbox .survey-modalbutton {
    cursor: auto;
}
.surveysubmit-button {
    width: 250px;
    color: white;
    padding: 10px;
    margin: 10px;
    padding: 8px;
    background-color: var(--main-btn-color);
    /* font-size: .85rem; */
    border-radius: 0.5rem;
    font-family: var(--p-font-style);
    cursor: pointer;
}

.survey-modalbutton .btn-danger {
    width: 20%;
    height: 20px;
    background-color: white;
    border: none;
}

.survey-modalbutton .btn-danger:hover {
    background-color: white;
    border: 1px solid var(--hover-border-color);
}

.survey-inputlabel {
    color: black;
}

.survey-schedule {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-btn-color);
    border-radius: .25rem;
    padding: 3%;
}

.create-survey {
    background-color: var(--main-btn-color);
    border-radius: .25rem;
    color: white;
    align-self: flex-end;
    height: 45px;
}

.create-survey:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-border-color);
}

.title-label {
    margin-left: 9%;
}

.modal-footer .btn-primary{
    background-color: var(--main-btn-color);
    border: none;
    font-family: var(--p-font-style);
}

.modal-footer .btn-primary:hover{
    background-color: var(--hover-color);
    border: 1px solid var(--hover-border-color)
}

.instruction-p {
    box-shadow: none;
}

.survey-instructions {
    box-shadow: none;
    border: 1px solid var(--hover-border-color);
}

.survey-buttons {
    background-color: var(--main-btn-color);
    color: white;
    border: none;
    font-family: var(--p-font-style);
    width: 50%;
    margin-left: 21%;

}

.survey-buttons:hover {
    background-color: var(--hover-color);
    color: white;
    border: 1px solid var(--hover-border-color);
}

.dropbtn {
    background-color: var(--main-btn-color);
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    font-family: var(--p-font-style);
    width: 100%;
    border-radius: .25rem;
}

.survey-responsebox .dropdown {
    position: relative;
    display: inline-block;
    width: 50%;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: var(--main-bg-color);
    font-family: var(--p-font-style);
    color: black;
    margin-left: -8%;
    margin-top: 6%;
    overflow: scroll;
    max-height: 200px;
}

.text-area-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    padding-top: 3%;
}
.text-area-field p {
    width: 50%;
    padding: 2%;
}

.array-area-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    border: 1px solid var(--hover-border-color);
    padding-top: 1%;
    border-radius: .25rem;
    min-height: 100px;
}

.pre-p {
    border: 1px solid var(--hover-border-color);
    padding: 1px;
}
.pre-p .emoji-mart-emoji {
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.modalpage-container .survey-header {
    margin-top: 3%;
    font-family: var(--headers-font-style);
    font-size: 3.5rem;
    width: 80%;
    padding-right: 0;
    margin-left: 10%;
    text-align: center;
}

.emoji-custom {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.emoji-custom p {
    margin-bottom: 0;
    font-size: .8rem;
}

.survey-modalbutton div .btn-secondary {
    background-color: var(--main-btn-color);
    color: white;
    width: 100%;
    height: 35px;
    text-align: center;
    border: none;
    padding: 6px;
    font-family: var(--p-font-style);
}

.survey-modalbutton div .btn-secondary:hover {
    background-color: var(--hover-color);
    border: 1px solid var(--hover-border-color);
}


/* Modal Footer */
.modalfooter {
    height: 50px;
    position: relative;
    margin-top: -50px;
    clear: both;
    
}
.modalcopyright-words {
    font-size: .8rem;
    color: rgb(0, 63, 85);
    display: flex;
    justify-content: center;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
}
.modalfooterimg-box {
    overflow: hidden;
}
.modalfooter-img {
    width: 100%;
    max-height: 50px;
}

@media (max-width: 400px) {
    .title-label {
        margin-left: 0;
    }

    .footer-buttons {
        display: flex;
        flex-direction: column;
    }

    .footer-buttons .pull-right {
        width: 100%;
    }
    .footer-buttons .pull-left {
        width: 100%;
    }

    .survey-prefeels {
        margin: 0 2%;
    }

    .survey-schedule {
        margin: 0 2%;
    }
}

@media (max-width: 600px) {
    .title-label {
        margin-left: 0;
    }

    .footer-buttons {
        display: flex;
        flex-direction: column;
    }

    .footer-buttons .pull-right {
        width: 100%;
    }
    .footer-buttons .pull-left {
        width: 100%;
    }
}
