/* Survey Page */
/* SKY #7CDBDS BRIGHT CORAL #FS3240 GOLDEN #F9BE02 AQUAMARINE #02C8A7 */
.moodbot {
    width: 200px;
    height: 200px;
}
.survey-container {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.form-box {
    display: flex;  
}
.survey-title {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
.survey-buttons {
    width: 40%;
  padding: 1.1rem;
  color: #212529;
  background-color: #7cdbd5;
  font-size: .5rem;
  border-radius: 0.5rem;
  font-family: "Fredoka One", cursive;
  cursor: pointer;
}
.survey-buttons:hover {
  color: #96040e;
  background-color: #F9BE02;
  border: 2px solid #f58a91;
}
/* Survey Carousel */
.survey-carousel {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
/* Survey Custom Emoji */
.customemoji-form {
    max-width: 450px;
    width: 100%;
    margin: 10px;
    color: #000;
    border: 1px solid #f58a91;
    border-radius: 8px;
    box-shadow: -10px 10px 5px 0px #7cdbd5;

}
/* Survey Form */
.survey-form {
    max-width: 450px;
    width: 100%;
    margin: 10px;
    
    color: #000;
    border: 1px solid #f58a91;
    border-radius: 8px;
    box-shadow: -10px 10px 5px 0px #7cdbd5;

}
.survey-inputbox {

}
.survey-inputlabel {

}
/* Loading Pages */
.loading-container {
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

