.billing-container {
    width: 900px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.billing-title {
    font-size: 2rem;
    border-bottom: 2px solid black;
    width: 30rem;
    padding: 10px;
    margin: 10px;
}

.billing-container .card {
    border: none;
    margin: 2rem;
}

 .billing-card-body {
    width: 50%;
    height: 300px;
    color: #000;
    border: 4px solid #f58a91;
    border-radius: 8px;
    border: 1px solid smokewhite;
    box-shadow: 10px 10px 5px 0px #7cdbd5;
}

.billing-card-title {
    font-family: 'Fredoka One', cursive;
    border-bottom: 1px solid black;
    width: 30%;
}

.billing-card-subtitle {
    font-weight: bold;
}

.billing-card-text {
    padding-top: 20px;
    padding-left: 20px;
    /* font-weight: bold; */
    font-size: 1.1rem;
}

.stripe-checkout {
    width: 55%;
    margin-left: 5rem;
}