.billing-container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* border: 1px solid red; */
}

.billing-title {
  margin-top: 2rem;
  /* border: 1px solid red; */
  margin-bottom: 1rem;
  font-family: var(--headers-font-style);
}

.billing-card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* border: 1px solid red; */
}

.billing-card-title {
  font-family: var(--headers-font-style);
}

.billing-card-subtitle {
  font-family: var(--headers-font-style);
}

.billing-card-text {
  font-family: var(--p-font-style);
}

.billing-card-body {
  width: 48%;
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--hover-border-color);
  border-radius: .25rem;
}

.stripe-checkout {
  width: 50%;
  background: linear-gradient(#7cdbd5, #7cdbd5, #7cdbd5);
}

@media (max-width: 900px) {
  .billing-card-container {
    flex-direction: column;
  }
  .billing-card-body {
    width: 100%;
  }
  .stripe-checkout {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .billing-card-body {
    margin-bottom: 75px;
  }
}
