.btn-feel-3 {
    width: 12rem;
    padding: 0.5rem;
    color: white;
    background-color: var(--main-btn-color);
    font-size: 1.2rem;
    border-radius: 0.25rem;
    font-family: var(--p-font-style);
    cursor: pointer;
}

.btn-feel-3:hover {
    color: white;
    background-color: var(--hover-color);
    border: 1px solid var(--hover-border-color);
}

@media (max-width: 900px) {
    .login-container {
        width: 60%;
    }
    .btn-feel-3 {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .login-container {
        width: 100%;
    }
}