.App {
  text-align: center;
}

/* Home */
.home-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}
/* Survey */
.survey-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}
.survey-calendar {
  max-width: 300px;

  border: 1px solid black;
}
.survey-feelings {
  max-width: 300px;
  border: 1px solid black;
}

/* Team List */
.teamlist-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}

/* Report */
.report-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}

/* Billing */
.billing-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}
.billing-title {
  font-size: 2rem;
  border-bottom: 2px solid black;
  padding: 10px;
  margin: 10px;
}
/* Billing Checkout/ Purchase */
.checkout {
  min-width: 100px;
  width: 100%;
  border: 1px solid black;
}
.purchase-complete {
  min-width: 100px;
  width: 100%;
  border: 1px solid black;
}
.card-elements {  
  border: 1px solid black;
}

/* Account Settings */
.account-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}