.nav-item .nav-link div {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.navbar {
    background-color: var(--main-btn-color);
}

.navbar-nav {
    display: flex;
    align-items: center;
}

/* .navbar-expand-md a {
    color: white;
}

.navbar-brand a { 
    font-family: var(--headers-font-style);
    text-decoration: none;
} */

.navbot {
    height: 45px;
    width: 45px;
    margin: 0;
    padding: -2%;
}

.navbar-image {
    height: 40px;
    width: 40px;
}

.dropdown-menu .dropdown-item {
    background-color: #02C8A7;
}

.dropdown-menu-right {
    background-color: #02C8A7; 
}

/* .dropdown-menu {
    background-color: #02C8A7;

} */

.dropdown-menu .dropdown-item:hover {
    background-color: #5bbdc2;
}

.logout-button {
    color: white;
}

.navbar-expand-md .navbar-toggler {
    background-image: url("http://chittagongit.com//images/hamburger-icon/hamburger-icon-8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width: 767px) {
    .navbar-nav {
        align-items: flex-start;
    }
}

@media (max-width:500px) {
    .navbar-nav {
        align-items: flex-start;
    }

    .navbar-collapse .dropdown {
        padding-bottom: 5%;
    }
}